* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background-color: #DE6B48;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  color: #fff;
  font-size: 1.25rem;
}

.navbar__items {
  display: flex;
  list-style-type: none;
}

.navbar__item {
  margin-right: 2rem;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../src/pizza.jpg') no-repeat center center/cover;
  color: #fff;
}

.hero__title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero__text {
  font-size: 1.25rem;
}

/* Menu & Contact */
.menu,
.contact {
  padding-top: 5rem;
  text-align: center;
}

.menu__header-title,
.contact__header-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.menu__item-title,
.menu__item-description {
  margin-bottom: .5rem;
}

.menu__item-title,
.contact__info-title {
  font-size: 2rem;
}

.menu__item-description,
.contact__info-text {
  font-size: 1.125rem;
}

.menu__item-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.contact__info {
  flex-basis: 15%;
  margin-bottom: 3rem;
}

.contact__info-title {
  margin-bottom: 1rem;
}

.contact__info-text {
  margin-bottom: .7rem;
}

/* Media Queries */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
  }

  .logo {
    margin-bottom: .5rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .menu,
  .contact {
    padding-top: 8rem;
  }

  .menu__header-title,
  .contact__header-title {
    font-size: 2.5rem;
  }

  .menu__item-title,
  .contact__info-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 420px) {
  .hero__title {
    font-size: 2rem;
  }
}