* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background-color: #DE6B48;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000;
}

.logo {
  color: #fff;
}

.navbar__items {
  display: flex;
  list-style-type: none;
}

.navbar__item {
  margin-right: 1rem;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.hero__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}