* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
  background-color: #DE6B48;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo {
  color: #fff;
  font-size: 1.25rem;
}

.navbar__items {
  display: flex;
  list-style-type: none;
}

.navbar__item {
  margin-right: 2rem;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('../src/pizza.jpg') no-repeat center center/cover;
  color: #fff;
}

.hero__title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero__text {
  font-size: 1.25rem;
}

/* Menu */
.menu {
  padding-top: 5rem;
  text-align: center;
}

.menu__header-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.menu__item-title,
.menu__item-description {
  margin-bottom: .5rem;
}

.menu__item-title {
  font-size: 2rem;
}

.menu__item-description {
  font-size: 1.125rem;
}

.menu__item-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}